html,body,main{
    height: 100%;
}
body,main, .container{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
.container{
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    justify-content: space-between;
    background: #ecfbfc;
    border-radius: 5px;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    margin: 15px 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
button{
    padding: 15px;
    width:  70%;
    margin: 30px auto 0;
    background-color: #ffb0cd;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
#error{
    display: none;
    color: red;
    margin-bottom: 0;
}